html,
body {
    height: 100%;
}

header {
    /*background-color: #3F7C8F;*/
    text-align: center;
    padding: 50px 0 50px 0;
}

/* page content begin */

p {
    text-align: justify;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/* page content end */

/* footer begin */

#footer {
    height: 60px;
    background-color: #E2E2E2;
}

#footer p {
    text-align: center;
    margin: 20px auto;
}

/* footer END */