html,
body {
    height: 100%;
}

header {
    /*background-color: #3F7C8F;*/
    text-align: center;
    padding: 50px 0 50px 0;
}

p {
    text-align: justify;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: grey;
}