{% assign pageTitle = page.title %}
<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>

    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

    <script src="javascripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="javascripts/main.js" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="page.desc" />
    <meta name="author" content="all: guitarman" />
</head>
